
html,body {
    height: 100%;
}

#App, #root {
    height:100%;    
}

.App {
    height: 100%;

    & * {
        transition-property: background-color;
        transition-duration: 500ms;
    }
}

.light {
    background-color: white;
    color:black;       
    .card {
        background-color: white;
    }  
}

.dark {
   background-color: black;
   color:white;   

   .card {
       background-color: #595656;
   }   
}